body {
  font-family: Arial, sans-serif;
  background-image: url(https://images.unsplash.com/photo-1502754388-a9bce5374fb8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-position: 0 100px;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  background-color: gray;
  color: beige;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 16px lightblue;
}

.input-group {
  display: flex;
  margin-bottom: 10px;
}

.input-group input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 0;
  border-radius: 4px 0 0 4px;
}

.input-group button {
  padding: 8px 15px;
  font-size: 16px;
  border: 0;
  background-color: black;
  color: #fff;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}

.controls {
  margin-top: 10px;
}

.controls button {
  padding: 8px 15px;
  font-size: 16px;
  border: 1px solid #dc3545;
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: #ccc;
}